.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

ul {
  padding-left: 1em;
}

.about-header {
  @extend .header;

  position: inherit;
  height: inherit;
  border-bottom: none;
  background: #F3F6F9 url(../images/separator2.gif) repeat-x 0 100%;
  @include vendor-prefix(box-shadow, none);

  .header-frame {
    background: #fff;
    padding: 40px;
  }

  h1 {
    font-size: 4em;
    font-weight: lighter;
    color: #33536A;
  }
}

.about-main {
  @extend .main;
  color: #6F6F6F;

  .c1 {
    margin-top: 0px;
    padding: 20px 40px 40px 40px;

    .content-left {
      float: left;
      width: 75%;
      margin-right: 40px;
    }

    h2 {
      font-style: normal;
      color: #33536A;
      margin-top: 35px;

      &:first-of-type {
        margin-top: 0;
      }
    }

    p {
      margin: 15px 0;
    }

    .menu-right {
      margin-top: 37px;

      ul {
        li {
          margin-bottom: 20px;
          font-size: 1.3em;
          font-weight: lighter;

          a {
            color: #33536A;
            border-bottom: 1px dotted #33536A;
            line-height: 20px;

            &:hover {
              text-decoration: none;
              border-bottom: none;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
