/*
 * Styles for Javascript Scroll Pane
 * Custom Scrollbars
 */

.jspScrollable {
  outline: none;
}

.jspContainer {
  overflow: hidden;
  position: relative;
}

.jspPane {
  position: absolute;
}

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background: red;

  .jspArrow {
    height: 16px;
  }

  .jspArrow:focus {
    outline: none;
  }
}

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: red;

  .jspCap {
    float: left;
  }

  .jspTrack,
  .jspDrag {
    float: left;
    height: 100%;
  }

  .jspArrow {
    width: 16px;
    float: left;
    height: 100%;
  }
}

.jspVerticalBar *,
.jspHorizontalBar * {
  margin: 0;
  padding: 0;
}

.jspCap {
  display: none;
}

.jspTrack {
  background: #fff;
  position: relative;
}

.jspDrag {
  background: #eaedf0;
  position: relative;
  top: 0;
  left: 0;
  @include vendor-prefix(border-radius, 3px);
}

.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;

  &.jspDisabled {
    cursor: default;
    background: #80808d;
  }
}

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

.downloads-list {
  .jspVerticalBar,
  .jspContainer {
    background: white;
  }

  .jspDrag {
    margin-top: 4px;
    left: -4px;
  }
}

.cfe-radio,
.cfe-checkbox {
    display: inline-block;
    cursor: pointer;
    background: 0 0 no-repeat;
}

.cfe-radio,
.cfe-checkbox {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.cfe-radio {
    background: url('../images/radiobutton-sprite.png');
    width: 13px;
    height: 11px;
}

.cfe-radio.cfe-state-0 { background-position: 0 0; }
.cfe-radio.cfe-state-1 { background-position: 0 -11px; }
.cfe-radio.cfe-state-2 { background-position: 0 -22px; }
.cfe-radio.cfe-state-3 { background-position: 0 -33px; }

.cfe-checkbox {
    background: url('../images/checkbox-sprite.png');
    width: 13px;
    height: 11px;
    padding: 0;
}

.cfe-checkbox.cfe-state-0 { background-position: 0 0; }
.cfe-checkbox.cfe-state-1 { background-position: 0 -11px; }
.cfe-checkbox.cfe-state-2 { background-position: 0 -22px; }
.cfe-checkbox.cfe-state-3 { background-position: 0 -33px; }

/* Disabled style */
.cfe-disabled,
.cfe-readonly {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 5-7 */
    filter: alpha(opacity=50);

    /* CSS3 */
    opacity: 0.5;
}
