#download_loading {
  padding: 10px 50%;
}

.lightbox{
  border:1px solid #ccc;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  width: 450px;
  background:#f5f6f7;

  .heading-holder{
    padding:22px 30px 20px;
    font-size:1.7em;
    line-height:1.5em;
    color:#315268;
    overflow:hidden;
    border-bottom:1px solid #E3E4E5;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
  }

  .heading{
    display:block;
    font-weight:bold;
    text-transform: uppercase;
  }

  .date{
    font-style:normal;
    font-weight:normal;
  }

  .text-holder{
    overflow:hidden;
    padding:28px 29px 12px;
    font-size:1.3em;
    line-height:1.23em;
    color:#666;

    .heading{
      padding:0 0 1px;
      font-weight:bold;
      display:block;
    }

    ol {
      list-style: lower-alpha;
    }
    i {
      font-style: italic;
    }
  }

  .text-frame .heading{padding:0 0 5px;}
  .text-holder p{margin:0 0 14px;}
  .text-frame p{margin:0 0 16px;}
}

.downloads {
  text-align: center;

  .text-holder {
    padding: 28px 29px 24px;
    border-bottom: 1px solid #ECECEC;
    font-weight: normal;

    h2, h3 {
      color: #33526A;
    }

    h2 {
      margin-bottom: 20px;
      font-size: 1.2em;
      font-weight: normal;
    }

    h3 {
      font-size: 0.9em;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-weight: bold;
    }

    p {
      margin-top: 20px;
    }
  }

  .list-holder {
    .scroll-area {
      overflow: hidden;
      max-height: 156px;
      border-bottom: 1px solid #ECECEC;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    ul {
      text-align: left;

      li {
        padding: 20px 29px 20px;
        background-color: #fff;
        border-bottom: 1px solid #ECECEC;
        color: #33536A;

        h4 {
          font-size: 1.7em;
          font-weight: bold;

          span {
            font-weight: lighter;
            color: #CACACA;
            font-size: 0.6em;
            text-transform: uppercase;
          }
        }

        span.info {
          color: #b6b6b6;
          font-weight: lighter;
          font-size: 1.3em;
          line-height: 20px;
        }

        span.button {
          float: right;
          line-height: 1.5em;
          text-align: right;

          span.error {
            position: relative;
            top: -15px;
            font-size: 1.2em;
            color: #F66;

            p {
              color: #33536a;

              a {
                border-bottom: 1px dotted #33536a;

                &:hover {
                  border-bottom: none;
                  text-decoration: none;
                }
              }
            }
          }
        }

        .btn {
          position: relative;
          top: -10px;
          font-weight: bold;
        }

        &:first-child {
          border-top: none;
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
        }

        &:last-child {
          border-top: none;
          border-bottom: none;
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }
    }
  }

  .text-holder:last-child,
  .list-holder:last-child {
    border-bottom: none;
  }

  .btn {
    margin:0 5px 3px;
    display:inline-block;
    padding:10px 20px;
    overflow:hidden;
    text-transform:uppercase;
    font-size:13px;
    font-weight: bold;
    line-height:13px;
    color:#fff;
    border-radius: 20px; -moz-border-radius: 20px;  -webkit-border-radius: 20px;
    background:#33536a;
    width: 50px;
  }

  .red {
    background:#f66;

    &.small {
      width: inherit;
      padding: 5px 10px;
      font-size: 11px;
    }
  }
}

.status {
  text-align: left;
}

.landing {
  position: relative;
  width: 633px;

  h1 {
    margin:0;
    height:57px;
    overflow:hidden;
    background:url(../images/cites-logo.png) no-repeat;
    padding-left: 115px;
    line-height: 60px;
    font-weight: lighter;
    font-size: 1.2em;
  }

  .text-holder {
    background: #fff;
    border: 0;
    border-radius: 6px;
    padding: 40px 0 20px 40px;
    color: #33526a;
    font-size: 1.7em;
    font-weight: lighter;
    line-height: 1.3em;

    .image {
      float: right;
      width: 180px;
      background-image: url(/images/landing-screenshot.png);
      height: 256px;
      position: absolute;
      top: 40px;
      right: 25px;
      box-shadow: 0px 2px 5px 0px #999;
    }

    .appendix-ind-1 {
      width: 65px;
      height: 65px;
      background-image: url(/images/landing-app1.png);
      position: absolute;
      top: 40px;
      right: 145px;
    }

    .appendix-ind-2 {
      width: 85px;
      height: 85px;
      background-image: url(/images/landing-app2.png);
      position: absolute;
      top: 20px;
      right: -40px;
    }

    .appendix-ind-3 {
      width: 105px;
      height: 105px;
      background-image: url(/images/landing-app3.png);
      position: absolute;
      top: 175px;
      right: -50px;
    }

    .left-column {
      float: left;
      width: 350px;

      .btn {
        display: inline-block;
        color: white;
        margin: 20px 0 4px;
        line-height: 24px;
        font-size: 13px;
        vertical-align: middle;
        font-weight: bold;
        text-align: center;
        padding: 5px 15px;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        background: #33536A;
        overflow: hidden;
        white-space: nowrap;
        text-transform: uppercase;
      }
    }
  }
}


/*
    ColorBox Core Style
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

#cboxOverlay{background:#fff;}
#colorbox{}
#cboxContent{margin-top:32px; overflow:visible;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{background:none; padding:1px;}
#cboxLoadingGraphic{}
#cboxLoadingOverlay {
  background:#F5F6F7;
  @include vendor-prefix(border-radius, 6px);
}
#cboxTitle{position:absolute; top:-22px; left:0; color:#000;}
#cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
#cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px;}
#cboxPrevious{background-position:0px 0px; right:44px;}
#cboxPrevious:hover{background-position:0px -25px;}
#cboxNext{background-position:-25px 0px; right:22px;}
#cboxNext:hover{background-position:-25px -25px;}
#cboxClose {
  background: #33536A;
  @include vendor-prefix(border-radius, 50%);
  color: #fff;
  text-indent: 8px;
  line-height: 18px;

  position: absolute;
  right: 10px;
  top: -10px;
}
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
.cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
.cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
.cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}
