.area-holder{
  overflow:hidden;
  padding:14px 0 0;
  clear:both;

  .area-b {
    padding:0 0 29px;
    background:url(../images/bg-area-b.gif) no-repeat 0 100%;

    .text-holder{
      text-align:left;
      line-height:27px;
      width:100%;
      padding:15px 0 0;
      overflow:hidden;

      span{
        float:left;
        padding:0 0 5px;
        background:#fff;
      }
    }
  }
}

.area {
  margin:0 0 2px;
  background:url(../images/bg-area.gif) repeat-y;

  .row{
    height:29px;
    padding:1px 0;
    position:relative;
    background:url(../images/bg-row.gif) repeat-x 0 20px;
  }

  .ico {
    position: absolute;
    top:11px;
    cursor:pointer;
    font-size: 15px;
  }

  .circle {
    margin: 0 auto 0 auto;
    line-height: 2em;
    @include vendor-prefix(user-select, none);
    text-align:center;
    text-transform: uppercase;

    &.category,
    &.country {
      position:absolute;
      left:0;
      top:8px;
    }

    &.country {
      font-size: 0.9em;
      line-height: 2.3em;
    }

    &.event {
      width: 20px;
      height: 20px;
      line-height: 1.2em;
    }
  }

  .line{
    position:absolute;
    height:4px;
    top:19px;
    background:$appendix_orange;
  }

  .arrow {
    position:absolute;
    top:16px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid $appendix_grey;
  }

  .mark{
    position:absolute;
    width:4px;
    height:4px;
    top:16px;
    text-indent:-9999px;
    overflow:hidden;

    border: 3px solid #000;
    background: #fff;
    border-color: $appendix_grey;
    border-radius: 50%;
    margin: 0 5px;
  }

  .line,
  .mark {
    &.green {
      border-color: $appendix_green;
    }

    &.orange {
      border-color: $appendix_orange;
    }

    &.blue {
      border-color: $appendix_blue;
    }

    &.grey {
      border-color: $appendix_grey;
    }
  }

  .arrow {
    &.green {
      border-left-color: $appendix_green;
    }

    &.orange {
      border-left-color: $appendix_orange;
    }

    &.blue {
      border-left-color: $appendix_blue;
    }

    &.grey {
      border-left-color: $appendix_grey;
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.custom-tooltip{
  position:relative;
  z-index:999;
  border-radius: 15px;  -moz-border-radius: 15px; -webkit-border-radius: 15px;
  background:#33536a;
  margin:0 -65px 5px 0 !important;
  padding:7px;

  .ico-tooltip{
    float:left;
    width:16px;
    height:16px;
    margin:0 7px 0 0;
    text-indent:-9999px;
    overflow:hidden;
    background:url(../images/ico-tooltip.png) no-repeat;
  }

  .tooltip-text{
    float:left;
    overflow:hidden;
    color:#fff;
    line-height:16px;
    font-size:12px;
    font-weight:bold;
    padding:0 9px 0 0 !important;
    background:url(../images/bullet3.png) no-repeat 100% 50%;
    white-space:nowrap;
  }

  .tooltip-decor{
    position:absolute;
    width:9px;
    height:5px;
    bottom:-5px;
    left:50px;
    text-indent:-9999px;
    overflow:hidden;
    background:url(../images/img-decor4.png) no-repeat;
  }
}
