.area-holder{
  overflow:hidden;
  padding:14px 0 0;
  clear:both;

  .area-b {
    padding:0 0 29px;

    a {
      span {
        float: right;
        border-bottom: 1px dotted #000;

        span, span:hover {
          border-bottom: none;
        }

        &:hover {
          border-bottom: 1px solid #000;
        }
      }
    }

    .text-holder{
      text-align:left;
      line-height:27px;
      width:100%;
      padding:15px 0 0;
      overflow:hidden;

      span{
        float:left;
        padding:0 0 5px;
      }
    }
  }
}

.area {
  margin:0 0 2px;

  &.no-listing-changes .area-b {
    opacity: 0.3;
  }

  .no-history-graphs {
    float: left;
    position: relative;
    z-index: 850;
    width: 100%;
    min-height: 125px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding-top: 45px;
    box-sizing: border-box;
    font-size: 1.5em;
    color: #33536A;
  }

  .sub-timeline-note {
    float: left;
    position: relative;
    z-index: 850;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-size: 1em;
    color: #33536A;    
  }

  .row, .timescale-row{
    height:29px;
    padding:1px 0;
    position:relative;
  }

  .row {
    background:url(../images/bg-row.gif) repeat-x 0 20px;
  }

  .ico {
    position: absolute;
    top:11px;
    cursor:pointer;
  }

  .circle {
    margin: 0 auto 0 auto;
    line-height: 2em;
    @include vendor-prefix(user-select, none);
    text-align:center;
    text-transform: uppercase;

    &.category,
    &.country {
      position:absolute;
      left:0;
      top:8px;
    }

    &.country {
      font-size: 0.9em;
      line-height: 2.3em;
    }

    &.event {
      width: 20px;
      height: 20px;
      line-height: 1.5em;
    }

    &.green.event {
      background: url(/images/graph-event.png);
      background-position: 0px 20px;
    }

    &.orange.event {
      background: url(/images/graph-event.png);
      background-position: 0px 40px;
    }

    &.blue.event {
      background: url(/images/graph-event.png);
      background-position: 0px 0px;
    }

    &.text {
      font-size: 11px;
      line-height: 2em;
    }
  }

  .line{
    position:absolute;
    height:4px;
    top:19px;
    background:$appendix_orange;
  }

  .year {
    position: absolute;
    width: 4em;
    height: 29px;
    color: #373f4c;
    font: bold italic;
    background: url(../images/timescale-bar.gif) no-repeat 0 0;
  }

  .year-bar {
    position: absolute;
    height: 100%;
    background: url(../images/timescale-bar.gif) repeat-y 0 0;
  }

  .arrow {
    position:absolute;
    top:16px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid $appendix_grey;
  }

  .mark{
    position:absolute;
    width:4px;
    height:4px;
    top:16px;
    text-indent:-9999px;
    overflow:hidden;

    border: 3px solid #000;
    background: #fff;
    border-color: $appendix_grey;
    border-radius: 50%;
    margin: 0 5px;
  }

  .line,
  .mark {
    &.green {
      border-color: $appendix_green;
      background: $appendix_green;
    }

    &.orange {
      border-color: $appendix_orange;
      background: $appendix_orange;
    }

    &.blue {
      border-color: $appendix_blue;
      background: $appendix_blue;
    }

    &.grey {
      border-color: $appendix_grey;
      background: $appendix_grey;
    }
  }

  .arrow {
    &.green {
      border-left-color: $appendix_green;
    }

    &.orange {
      border-left-color: $appendix_orange;
    }

    &.blue {
      border-left-color: $appendix_blue;
    }

    &.grey {
      border-left-color: $appendix_grey;
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.custom-tooltip{
  position:relative;
  z-index:999;
  border-radius: 15px;  -moz-border-radius: 15px; -webkit-border-radius: 15px;
  background:#33536a;
  margin:0 -65px 5px 0 !important;
  padding:7px;

  .ico-tooltip{
    float:left;
    width:16px;
    height:16px;
    line-height: 14px;
    margin:0 7px 0 0;
    text-align: center;
    overflow:hidden;
    color:#666666;
    font-size: 12px;
    font-weight: bold;
    background:url(../images/ico-tooltip.png) no-repeat;
    align: center;

    &.text {
      font-size: 11px;
      line-height: 1.7em;
    }
  }

  .tooltip-text{
    float:left;
    overflow:hidden;
    color:#fff;
    line-height:16px;
    font-size:12px;
    font-weight:bold;
    white-space:nowrap;
    text-transform: uppercase;
  }

  .tooltip-decor{
    position:absolute;
    width:9px;
    height:5px;
    bottom:-5px;
    left:47%;
    text-indent:-9999px;
    overflow:hidden;
    background:url(../images/decor-tooltip-down-arrow.png) no-repeat;
  }
}

.country-timelines {
  display: none;
}
