$id-materials-default-margin-bottom: 12px;
$additional-materials-padding: 6px;

.id-materials {
  margin-top: 16px;
  max-width: 600px;

  &__download-button {
    border: solid 1px grey;
    border-radius: 20px;
    font-size: 11px;
    margin-bottom: $id-materials-default-margin-bottom;
    padding: 6px 10px;

    display: inline-flex;
    align-items: center;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &::before {
      @include icon-download;
      margin-right: 4px;
    }

    em {
      margin-left: 0.25em;
    }
  }

  &__additional-materials {
    background-color: $blue-grey-background;
    padding: $additional-materials-padding;
    width: 100%;

    transform: translateX(-$additional-materials-padding);
  }

  &__links-container {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100px;
  }

    &__link-row {
      border-bottom: solid 2px grey;
      opacity: 0.7;
      padding: 8px 0 5px 0;
      width: 100%;

      display: flex;
      align-items: center;

      &:hover {
        opacity: 1;
      }

      &:first-child {
        padding-top: 2px;
      }
    }

      &__link {
        color: inherit;
        margin-right: 6px;
      }

      &__link-tooltip {
        flex-shrink: 0;
        margin-right: 6px;
      }

      &__link-languages {
        flex-shrink: 0;
        margin-left: auto;
      }

      &__link-icon {
        background: url(../images/ic-chevron.svg) center no-repeat;
        background-size: contain;
        flex-shrink: 0;
        margin: 0px 30px;
        width: 2.15em; height: 1.9em;
        
        display: inline-block;
        
        &:hover {
          background-image: url(../images/ic-chevron-hover.svg);
        }
      }
}