.block {
  .new-taxa {
    width: 16px;
    height: 16px;
  }

  &.expanded{
    .slide{display:none;}
    .opener-holder{display:block;}

    p {
      a {
        color:#333;
        border-color:#333;
      }
    }

    .details a{color:#666;}
  }

  &:hover {
    .opener-holder {
      display: block;
    }
  }

  .slide{
    display:none;
    overflow:hidden;
    width:100%;

    &:hover {
      cursor: auto;
    }
  }

  p {
    a {
      line-height:24px;
      color:#666;
      border-bottom:1px dotted #666;
    }
  }

  .synonym {
    color: #888;
    font-style: italic;
    font-size: 0.9em;
    margin-bottom: 5px;
  }

  .details {
    overflow:hidden;
    padding:0 0 17px;

    li {
      float:left;
      margin:0 5px 0 0;
      color:#b6b6b6;

      &:before {
        content: "\25b6";
        font-size: 5px;
        padding-right: 5px;
      }

      &:first-of-type {
        &:before {
          content: "";
          padding-right: 0;
        }
      }
    }
  }

  .default-list {
    overflow:hidden;
    margin:0 0 0 -9px;

    li {
      overflow:hidden;
      vertical-align:top;
      padding:0 0 4px 9px;
      background:url(../images/bullet.gif) no-repeat 0 6px;

      ul {
        display: inline;

        li.common-name {
          background: none;
          display: inline;
          padding: 0;

          &:hover {
            font-weight: bold;
          }

          &:after {
            content: ", ";
          }

          &:last-child:after {
            content: "";
          }
        }
      }
    }
  }
}

.filter-control{
  position:relative;
  overflow:hidden;
  margin:-1px;
  font-weight:bold;
  padding: 10px 10px 15px;
  text-transform:uppercase;
  border:1px solid #d9d9d9;
  background:#f7f7f7;
  text-align: right;
  height: 10px;
  z-index: 900;

  a {
    color: #E25E5E;

    &:hover {
      cursor: pointer;
    }
  }
}

.main-heading{
  position:relative;
  overflow:hidden;
  margin:-1px;
  font-weight:bold;
  color:#c5ccd3;
  padding:17px 10px 16px;
  text-transform:uppercase;
  border:1px solid #d9d9d9;
  background:#e8ebef;

  .tags {
    float: left;

    li {
      float: left;
      padding:0 7px;
      color: #33536A;

      &:before {
        content: "\25b6";
        font-size: 0.5em;
        padding-right: 10px;
      }

      &:first-of-type {
        &:before {
          content: "";
        }
      }
    }
  }

  .alignleft{
    margin:0;
    float: left;
  }
}

.floatingHeader,
.filterFloatingHeader {
  position: fixed;
  top: 214px;
  visibility: hidden;
  z-index: 900;
}

.floatingHeader {
  z-index: 850;
}

.icons li{padding:0 0 4px;}
.icons img{vertical-align:top;}

.icons {
  li {
    .circle {
      margin: 0 auto 0 auto;
      line-height: 2em;
      @include vendor-prefix(user-select, none);
    }
  }
}

.opener-holder {
  position:relative;
  margin:21px 0 -45px;
  text-align:center;
  overflow:hidden;
  background:url(../images/bg-opener.gif) repeat-x 0 50%;
  z-index: 850;
  line-height: 1.7em;
  display: none;

  .opener,
  .closer {
    display:block;
    vertical-align:top;
    width:24px;
    height:24px;
    margin:0 auto;
    overflow:hidden;
    background: #33536A;
    border-radius: 50%;
    color: #fff;
    line-height: 25px;
    font-size:  10px;

    &:hover {
      cursor: pointer;
    }
  }

  .closer {
    display: none;
  }

  .expanded & {
    .closer {
      display: block;
    }
    .opener {
      display: none;
    }
  }
}

.new-tooltip {
  @extend .custom-tooltip;

  .tooltip-text {
    background: none;
    padding: 0 !important;
  }

  .tooltip-decor {
    left: 45%;
  }
}

.country-holder {
  @extend .saved-holder;

  &:hover .drop {
    left:-9999px;
  }

  a {
    padding-bottom: 10px;
    border-bottom: none;
    color: #33536A;
    display: block;

    &:hover .drop {
      left: auto;
      right: auto;
    }
  }

  .drop {
    top: auto;
    margin-top: 10px;
    z-index: 900;
    @include vendor-prefix(user-select, text);

    &:hover {
      cursor: auto;
    }

    .drop-holder {
      max-height: 250px;
      overflow-y: scroll;
      margin: 5px;

      ul {
        li:hover {
          background: none;
          cursor: auto;
        }
      }
    }
  }
}

.btn-more {
  display:inline-block;
  vertical-align:middle;
  width:53px;
  height:15px;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/btn-more.png) no-repeat;
}

* +html .btn-more{display:inline;}
