/*
 * SASS Mixins
 */

@mixin vendor-prefix($name, $argument) {
  #{$name}: $argument;
  -webkit-#{$name}: $argument;
  -ms-#{$name}: $argument;
  -moz-#{$name}: $argument;
  -o-#{$name}: $argument;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
ol,
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

input[type=text], input[type=password], input[type=file], input[type=submit], textarea{-webkit-appearance:none;}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {font-size: 100.01%;}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  margin:0;
  color:#666;
  font:1em/1 Helvetica, Arial, sans-serif;
  background:#fff;
  min-width:960px;
}

img {border-style:none;}

a {
  text-decoration:none;
  color:#33536a;

  &:hover {
    text-decoration:underline;
  }
}

input,
textarea,
select {
  font:100% Helvetica, Arial, sans-serif;
  vertical-align:middle;
  color:#b6b6b6;
}

form,
fieldset {
  margin:0;
  padding:0;
  border-style:none;
}

/* Beginning of actual styles! */

.content .column-holder:after,
.content .column-frame:after,
.search:after,
.c1:after,
.content .block:after,
#main:after,
.content .column-container:after,
#header:after {
  display:block;
  content:"";
  clear:both;
}

.wrapper {
  padding:0 0 130px;
  min-height:100%;
}

#header{
  position:fixed;
  z-index:990;
  width:100%;
  padding:34px 0 0;
  box-shadow: 0 0 12px #ebebeb;
  -webkit-box-shadow: 0 0 12px #ebebeb;
  -moz-box-shadow: 0 0 12px #ebebeb;
  background:#f3f6f9;
  border-bottom: 1px solid #D6D7D7;

  .btn-custom{
    float:left;
    padding:3px 0 4px 36px;
    color:#dde3e9;
    font-size:13px;
    line-height:13px;
    font-weight:bold;
    text-shadow:0 1px 1px #fff;
    background:url(../images/ico5.png) no-repeat;
  }

  .appendix-holder,
  .btn-holder,
  .saved-holder {
    position:relative;
    z-index:999;
    padding:0 0 20px;
    margin:0 0 -20px;
    vertical-align:top;
    display:inline-block;
  }

  .expanded .btn-custom,
  .btn-custom:hover {
    color:#33536a;
    text-decoration:none;
    background:url(../images/ico4.png) no-repeat;
  }
}

.header-frame{
  padding:30px 0;
  border:1px solid #d6d7d7;
  border-width:1px 1px 0;

  .column-frame{padding:17px 0 16px;}
}

.wrap{margin:0 100px 0;}

.logo-holder{
  overflow:hidden;
  padding:0 0 34px;
  margin:0 0 0 -5px;

  .top-links {
    margin:9px 0 0;
    font-size:15px;
    color:#33526a;
    float: right;
  }

  .logo{
    float:left;
    margin:0;
    width:157px;
    height:28px;
    text-indent:-9999px;
    overflow:hidden;
    background:url(../images/logo.png) no-repeat;

    a {
      display:block;
      height:100%;
    }
  }
}

.search{
  position:relative;
  margin:0;
  height:1%;
  padding:3px 4px 3px 14px;
  border-radius: 21px;  -moz-border-radius: 21px; -webkit-border-radius: 21px;
  border:1px solid #cccccd;
  background:#fff;

  input[type=text]{
    width:100%;
    margin:0;
    border:0;
    float:left;
    padding:5px 0;
    height:24px;
    line-height:24px;
    font-size:15px;
    color:#727272;
    border-radius: 0; -moz-border-radius: 0;  -webkit-border-radius: 0;
    box-shadow: 0 0 0;  -webkit-box-shadow: 0 0 0;  -moz-box-shadow: 0 0 0;
    font-weight:bold;
    outline:none;
  }

  input[type=submit]{
    float:right;
    margin:0 0 0 -99px;
    width:99px;
    padding:5px;
    border:0;
    color:#fff;
    line-height:24px;
    font-size:13px;
    font-weight:bold;
    height:34px;
    border-radius: 15px;  -moz-border-radius: 15px; -webkit-border-radius: 15px;
    background:#33536a;
  }

  input[type=submit]:hover{
    cursor:pointer;
    background:#1d2f3d;
  }

  input[type=submit]::-moz-focus-inner{ padding:0;  border:0;}

  .scroll-area {
    height: 150px;
  }
}

.search-holder{
  width:100%;
  float:left;
}

.search-frame {
  margin:0 109px 0 0;
}

fieldset.saved-search {
  position:relative;
  margin:0;
  height:1%;
  padding:0 4px 0 10px;
  border-radius: 21px;  -moz-border-radius: 21px; -webkit-border-radius: 21px;
  border:1px solid #cccccd;
  background:#fff;
  display:none;
  width: 150px;

  input[type=text]{
    width:93%;
    margin:0;
    border:0;
    float:left;
    height:24px;
    line-height:24px;
    font-size:15px;
    color:#727272;
    border-radius: 0; -moz-border-radius: 0;  -webkit-border-radius: 0;
    box-shadow: 0 0 0;  -webkit-box-shadow: 0 0 0;  -moz-box-shadow: 0 0 0;
    outline:none;
  }
}

* +html #header .btn-holder{display:inline;}
* +html #header .appendix-holder{display:inline;}

.drop {
  position:absolute;
  z-index:999;
  top:45px;
  left:0;
  width:102%;
  margin:0 -10px;
  box-shadow: 0 3px 5px #ccc; -webkit-box-shadow: 0 3px 5px #ccc; -moz-box-shadow: 0 3px 5px #ccc;
  border:1px solid #ccc;
  border-radius: 5px; -moz-border-radius: 5px;  -webkit-border-radius: 5px;
  background:#fff;

  .shadow {
    position:absolute;
    bottom:4px;
    z-index:999;
    left:0;
    width:100%;
    height:37px;
    background:url(../images/bg-shadow.png) repeat-x;
  }

  .decor {
    position:absolute;
    top:-13px;
    left:20px;
  }

  .scrollable-area {
    height:126px;
    padding:0 10px;
  }

  ul {
    padding:0 0 12px;
    font-size:1.5em;
    line-height:1.466em;
    color:#b6b6b6;

    .header {
      display:block;
      padding:0 0 3px;
      text-transform:uppercase;
      color:#33526a;
      font-size:13px;
      font-weight:bold;
    }

    a {
      color:#b6b6b6;
    }

    .active {
    }
  }

  .drop-search {
    overflow:hidden;
    font-size:1.3em;
    border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0;  -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom:1px solid #e9e9ea;
    padding:19px 19px 18px 17px;
    background:#f5f6f7;

    fieldset{
      overflow:hidden;
      padding:8px 0 8px 10px;
      border-radius: 17px;  -moz-border-radius: 17px; -webkit-border-radius: 17px;
      border:1px solid #ccc;
      background:#fff;
    }

    input[type=text]{
      border:0;
      padding:0;
      color:#b6b6b6;
      font-weight:bold;
      width:85%;
      height:18px;
      line-height:18px;
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      box-shadow: 0 0 0;
      -webkit-box-shadow: 0 0 0;
      -moz-box-shadow: 0 0 0;
    }

    input[type=submit] {
      border:0;
      padding:0;
      width:15%;
      height:18px;
      margin:0;
      font-size:0;
      line-height:0;
      text-indent:-9999px;
      overflow:hidden;
      background:url(../images/ico-search.png) no-repeat 50% 50%;
    }

    input[type=submit]:hover {
      cursor:pointer;
    }

    input[type=text],
    input[type=submit] {
      float:left;
    }

    .selected-locations {
      margin-top: 20px;

      h3 {
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: bold;
        color: #b6b6b6;
        margin-bottom: 10px;
      }

      ul {
        padding: 0;
        font-size: 1.3em;

        li {
          font-size: 0.75em;
          color: #727272;
          font-weight: lighter;

          &:hover {
            text-decoration: none;
            cursor: auto;
          }
        }
      }
    }
  }
}

.appendix-holder,
.saved-holder,
.btn-holder {
  .drop {
    width:215%;
    margin:0;
    left:-9999px;
    text-align:left;

    .decor{
      left:auto;
      right:6%;
    }
  }

  &:hover .drop {
    right:-17px;
    left:auto;
  }
}

.btn-holder {
  ul {
    @include vendor-prefix(user-select, none);

    li {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .scroll-area {
    height: 200px;
  }
}

.appendix-holder {
  @include vendor-prefix(user-select, none);

  .drop {
    background: #F5F6F7;
    width: 70px;

    .decor {
      left: 32%;
      right: 0;
    }

    .drop-holder {
      padding: 0;

      ul {
        text-align: center;
        padding: 0;

        li {
          border-bottom: 1px solid #CCC;
          padding: 20px;
          line-height: 28px;
        }
      }
    }
  }

  &:hover .drop {
    right:-5px;
    left:auto;
  }

  .circle {
    margin: 0 auto 0 auto;

    &:hover {
      cursor: pointer;
    }
  }
}

.circle {
  border-radius: 50%;
  height: 26px;
  width: 26px;

  color: #fff;

  .green &, &.green {
    background: #99c575;
  }

  .orange &, &.orange {
    background: #ffa366;
  }

  .blue &, &.blue {
    background: #93c2d9;
  }

  .grey &, .inactive &, &.grey {
    background: #adadad;
  }
}

.drop-holder{
  position:relative;
  overflow:hidden;
  padding:19px 13px 19px 10px;

  .btn-holder & {
    padding:10px 13px 4px 16px;

    h3 {
      display:block;
      padding:0 0 3px;
      text-transform:uppercase;
      color:#33526a;
      font-size:13px;
      font-weight:bold;
    }
  }
}

.custom-holder { 
  position:relative;

  .decor {
    left:50%;
    margin:0 0 0 -11px;
  }

 .drop{
    width:182px;
    margin:0 0 0 -135px;
    display: none;
    @include vendor-prefix(user-select, none);
  }
}

.saved-holder {
  @include vendor-prefix(user-select, none);

  .drop {
    background: #F5F6F7;
    width: 170px;
    top: 155px;

    .decor {
      left: 40%;
      right: 0;
    }

    .drop-holder {
      padding: 0;

      ul {
        margin: 10px 0 0 35px;

        li {
          font-size: 0.7em;
          font-weight: normal;
          color: #727272;
          list-style-type: square;

          a {
            border-bottom:1px dotted #666;

            &.delete {
              border-bottom: none;
            }

            &:hover {
              border: 0;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  &:hover .drop {
    right:-5px;
    left:auto;
  }
}

.custom-holder {
  margin:118px 0 0;

  .drop {
    left:50%;

    .row-holder {
      padding:17px 19px 14px;
      border-top:1px solid #ccc;
      overflow:hidden;
      line-height:16px;
      background:#f5f6f7;

      &:first-child {
        border:0;
        border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0;  -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
      }

      .style01{
        border-radius: 0 0 5px 5px;
        padding:17px 19px;
        -moz-border-radius: 0 0 5px 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
      }
    }

    .row {
      overflow:hidden;
      padding:0 0 1px;
    }

    input[type=radio],
    input[type=checkbox] {
      float:left;
      margin:0 5px 0 0;
      padding:0;
      height:18px;
      width:18px;
    }

    label {
      overflow:hidden;
      font-size:13px;
      line-height:18px;
    }
  }

  .heading {
    display:block;
    font-size:13px;
    color:#33526a;
    font-weight:bold;
  }
}

* +html .custom-holder .drop label{padding:1px 0 0;}


.c1 {
  margin:0 135px 0 0;
}

#main{
  font-size:1.3em;
  line-height:1.23em;

  .c1 {
    position:relative;
    margin:233px 135px -22px 0;
    padding:0 0 30px;
    border:1px solid #e5e5e5;
    border-width:0 1px 1px;
    background:#fff;
  }

  h2 {
    margin:0 0 3px;
    color:#373f4c;
    font:bold italic 1.461em/1.157em Helvetica, Arial, sans-serif;
  }

  .expanded {
    h2 {
      color:#000;
    }
  }

  .aside{
    position: fixed;
    top: 232px;
    right: 100px;
    color:#666;
    font-weight:bold;
    padding:32px 0 0;
  }
}

.paging{
  position:fixed;
  bottom:20px;
  right:20px;
  font-size:13px;
  line-height:23px;
  color:#373f4c;
  float: right;

  li{
    float:left;
    margin:0 0 0 7px;

    &:first-child {
      margin:0;
    }
  }

  .btn-prev,
  .btn-next{
    float:left;
    width:23px;
    height:23px;
    overflow:hidden;
    text-indent:-9999px;
    background:url(../images/bg-sprite.png) no-repeat -46px 0;
  }

  .btn-next {
    background-position:-46px -23px;
  }
}

.aside {
  position:relative;
  float: right;
  margin: 0 0 0 -116px;
  width: 116px;

  .heading{
    display:block;
    font-weight:bold;
    color:#33526a;
    padding:0 0 3px;

    span {
      font-weight:normal;
    }
  }

  .text-holder{
    overflow:hidden;
    padding:0 0 27px;
  }

  .text-frame {
    padding:0 3px;
    font-size:1.307em;
    color:#f66;

    .heading{
      display:block;
      padding:0 0 7px;
      color:#f66;
      font-weight:bold;
      line-height:18px;
    }

    p {
      margin:0 0 5px;
    }
  }

  strong{font-weight:bold;}

  p {
    margin:0 0 2px;

    a {
      color:#666;
      border-bottom:1px dotted #666;

      &:hover {
        border:0;
        text-decoration:none;
      }
    }
  }

  .btn-holder{
    overflow:hidden;
    padding:0 0 23px;
  }

  .btn {
    margin:0 0 3px;
    display:inline-block;
    padding:5px 10px;
    overflow:hidden;
    text-transform:uppercase;
    font-size:11px;
    line-height:13px;
    color:#fff;
    font-weight:bold;
    border-radius: 9px; -moz-border-radius: 9px;  -webkit-border-radius: 9px;
    background:#33536a;

    .ico-star {
      float:left;
      margin:1px 5px 0 0;
      width:9px;
      height:9px;
      overflow:hidden;
      text-indent:-9999px;
      background:url(../images/ico-star.png) no-repeat;
    }
  }

  .red {
    background:#f66;
  }
}

* +html .aside .btn{display:inline;}

.downloads {
  text-align: center;

  .text-holder {
    padding: 28px 29px 24px !important;
  }

  .btn {
    margin:0 0 3px;
    display:inline-block;
    padding:10px 20px;
    overflow:hidden;
    text-transform:uppercase;
    font-size:11px;
    line-height:13px;
    color:#fff;
    border-radius: 20px; -moz-border-radius: 20px;  -webkit-border-radius: 20px;
    background:#33536a;
  }

  .red {
    background:#f66;
  }
}

.content {
  position:relative;
  width:100%;
  float:left;

  .column-frame {
    height:1%;
    background:url(../images/separator1.gif) repeat-y 79% 0;
  }

  .block {
    padding:29px 0 32px;
    border-top:1px solid #e5e5e5;

    &.style01{padding:34px 0 24px;}

    &:hover{
      background:#fbfcfd;
    }

    &:first-child {
      border:0;
    }
  }

  .column-holder {
    background:url(../images/separator1.gif) repeat-y 65% 0;

    p {
      margin:0;

      a {
        &:hover {
          border:0;
          text-decoration:none;
        }
      }
    }

    .column {
      width:12%;
      padding:0 1%;
      float:left;
      text-align:center;

      &:first-child {
        width:60%;
        text-align:left;
        padding:0 2% 0 3%;
      }

      &.style01{width:18%;}
    }

    .column-area {
      display:table;
      width:100%;
      vertical-align:middle;

      .holder{
        display:table-cell;
        vertical-align:middle;
      }
    }

    .btn{
      display:inline-block;
      color:#fff;
      margin:4px 0;
      line-height:24px;
      font-size:13px;
      vertical-align:middle;
      font-weight:bold;
      text-align:center;
      padding:5px 12px;
      border-radius: 15px;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      background:#33536a;

      span{
        display:block;
        padding:0 15px 0 0;
        background:url(../images/bullet1.png) no-repeat 100% 50%;
      }
    }

    .btn-holder:hover .btn,
    .btn:hover {
      background:#1d2f3d;
      text-decoration:none;
    }
  }
}

* +html .content .column-holder .column-area .holder{
  position:absolute;
  top:50%;
  left:0;
  width:100%;
}
* +html .content .column-holder .column-area{
  display:block;
  position:relative;
}
* +html .content .column-holder .column-area .frame{
  position:relative;
  top:-50%;
}
* +html .content .column-holder .btn{display:inline;}

.block {
  &.expanded{
    color:#333;
    padding:34px 0 0 !important;

    .slide{display:block;}

    p {
      a {
        color:#333;
        border-color:#333;
      }
    }

    .details a{color:#666;}
  }

  .slide{
    display:none;
    overflow:hidden;
    width:100%;
  }

  p {
    a {
      line-height:24px;
      color:#666;
      border-bottom:1px dotted #666;
    }
  }

  .details {
    overflow:hidden;
    padding:0 0 17px;

    li {
      float:left;
      margin:0 12px 0 0;
      color:#b6b6b6;
    }
  }

  .default-list {
    overflow:hidden;
    margin:0 0 0 -9px;

    li {
      overflow:hidden;
      vertical-align:top;
      padding:0 0 4px 9px;
      background:url(../images/bullet2.gif) no-repeat 0 6px;

      &.style01 {
        color:#f66;
        font-style:italic;
        background:url(../images/bullet4.png) no-repeat 0 6px;
      }
    }
  }
}

.main-heading{
  position:relative;
  overflow:hidden;
  margin:-1px;
  font-weight:bold;
  color:#c5ccd3;
  padding:17px 10px 16px;
  text-transform:uppercase;
  border:1px solid #d9d9d9;
  background:#e8ebef;

  .tags {
    float: left;

    li {
      float: left;
      padding:0 7px;
      color: #33536A;

      &:before {
        content: "\25b6";
        font-size: 0.5em;
        padding-right: 10px;
      }
    }
  }

  .alignleft{
    margin:0 10px 0 0;
    float: left;
  }
}

.icons li{padding:0 0 4px;}
.icons img{vertical-align:top;}

.icons {
  li {
    .circle {
      margin: 0 auto 0 auto;
      line-height: 2em;
      @include vendor-prefix(user-select, none);
    }
  }
}

.opener-holder {
  position:relative;
  margin:30px 0 -45px;
  text-align:center;
  overflow:hidden;
  background:url(../images/bg-opener.gif) repeat-x 0 50%;
  z-index: 9999;
  display: none;

  .opener {
    display:block;
    vertical-align:top;
    width:24px;
    height:24px;
    margin:0 auto;
    text-indent:-9999px;
    overflow:hidden;
    background:url(../images/bg-sprite.png) no-repeat -9px 0;
  }

  .expanded & {
    margin:26px 0 -12px;

    .opener {
      background-position:-9px -24px;
    }
  }
}

.btn-more {
  display:inline-block;
  vertical-align:middle;
  width:53px;
  height:15px;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/btn-more.png) no-repeat;
}

.delete {
  color: #FF0000 !important;
  text-decoration: none;
  border: none;

  &:hover {
    text-decoration: none;
    border: none;
  }
}

* +html .btn-more{display:inline;}

.area-holder{
  overflow:hidden;
  padding:14px 0 0;
  clear:both;
}
.area-holder p{
  margin:0;
  text-align:right;
}
.area{
  margin:0 0 2px;
  width:478px;
  background:url(../images/bg-area.gif) repeat-y;
}
.area-b{
  padding:0 0 29px;
  background:url(../images/bg-area-b.gif) no-repeat 0 100%;
}
.area-holder .area-b .text-holder{
  text-align:left;
  line-height:27px;
  width:100%;
  padding:15px 0 0;
  overflow:hidden;
}
.area-holder .area-b .text-holder span{
  float:left;
  padding:0 0 5px;
  background:#fff;
}
.area .row{
  height:29px;
  padding:1px 0;
  position:relative;
  background:url(../images/bg-row.gif) repeat-x 0 20px;
}
.area .category{
  position:absolute;
  left:0;
  top:8px;
}
.area div.category{
  width:26px;
  height:26px;
  line-height:26px;
  color:#fff;
  font-weight:bold;
  text-transform:uppercase;
  font-size:10px;
  text-align:center;
  border-radius: 13px;  -moz-border-radius: 13px; -webkit-border-radius: 13px;
  background:#ffa366;
}
.area .line{
  position:absolute;
  height:4px;
  top:19px;
  width:300px;
  background:#ffa366;
}
.area .line.size1{width:85px;}
.area .line.pos1{right:0;}
.area .line.pos2{left:37px;}
.area .arrow{
  position:absolute;
  top:16px;
  width:8px;
  height:10px;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/bg-sprite.png) no-repeat 0 -20px;
}
.area .arrow.pos1{right:-8px;}
.area .color1 .arrow{background-position:0 0;}
.area .color2 .arrow{background-position:0 -10px;}
.area .color3 .arrow{background-position:0 -30px;}
.area .color1 div.category,
.area .color1 .line,
.area .color1 .ico{background:#93c2d9;}
.area .color2 div.category,
.area .color2 .line,
.area .color2 .ico{background:#99c575;}
.area .color3 div.category,
.area .color3 .line,
.area .color3 .ico{background:#adadad;}
.ico-minus,
.ico-plus{
  text-indent:-9999px;
  overflow:hidden;
  display:block;
  height:100%;
}
.ico-plus{background:url(../images/ico-plus.gif) no-repeat 50% 50%;}
.ico-minus{background:url(../images/ico-minus.gif) no-repeat 50% 50%;}
.area .ico{
  position:absolute;
  z-index:1;
  top:11px;
  width:20px;
  height:20px;
  font-size:16px;
  cursor:pointer;
  text-align:center;
  line-height:20px;
  color:#fff;
  border-radius: 10px;  -moz-border-radius: 10px; -webkit-border-radius: 10px;
  background:#ffa366;
}
.area .ico.small{
  width:16px;
  height:16px;
  top:13px;
  line-height:16px;
  border-radius: 8px; -moz-border-radius: 8px;  -webkit-border-radius: 8px;
}
.area .ico.pos1{left:165px;}
.area .ico.pos2{left:350px;}
.area .ico.pos3{left:405px;}
.area .ico.pos4{left:437px;}
.area .ico.pos5{left:37px;}
.area .ico.pos6{left:110px;}
.area .mark{
  position:absolute;
  width:10px;
  height:10px;
  top:16px;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/bg-sprite.png) no-repeat 0 -81px;
}
.area .color1 .mark{background-position:0 -61px;}
.area .color2 .mark{background-position:0 -71px;}
.area .color3 .mark{background-position:0 -91px;}
.area .mark.pos1{left:169px;}

#footer{
  margin:-130px 0 0;
  width:100%;
  height:35px;
  border-top:1px solid #ececec;
  overflow:hidden;
  padding:60px 0 35px;
  background:#f3f6f9;

  .logos{
    overflow:hidden;
    margin:0 0 0 -2px;

    li{
      float:left;
      margin:0 3px 0 0;
    }

    img{vertical-align:top;}
  }
}

* +html #footer{
  margin:0;
}

.custom-tooltip{
  position:relative;
  z-index:999;
  border-radius: 15px;  -moz-border-radius: 15px; -webkit-border-radius: 15px;
  background:#33536a;
  margin:0 -65px 5px 0 !important;
  padding:7px;

  .ico-tooltip{
    float:left;
    width:16px;
    height:16px;
    margin:0 7px 0 0;
    text-indent:-9999px;
    overflow:hidden;
    background:url(../images/ico-tooltip.png) no-repeat;
  }

  .tooltip-text{
    float:left;
    overflow:hidden;
    color:#fff;
    line-height:16px;
    font-size:12px;
    font-weight:bold;
    padding:0 9px 0 0 !important;
    background:url(../images/bullet3.png) no-repeat 100% 50%;
    white-space:nowrap;
  }

  .tooltip-decor{
    position:absolute;
    width:9px;
    height:5px;
    bottom:-5px;
    left:50px;
    text-indent:-9999px;
    overflow:hidden;
    background:url(../images/img-decor4.png) no-repeat;
  }
}

.lightbox{
  border:1px solid #ccc;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  width:500px !important;
  background:#f5f6f7;

  .heading-holder{
    padding:22px 30px 23px;
    font-size:1.7em;
    line-height:1.5em;
    color:#33526a;
    overflow:hidden;
    border-bottom:1px solid #ccc;
  }

  .heading{
    display:block;
    font-weight:bold;
    text-transform: uppercase;
  }

  .date{
    font-style:normal;
    font-weight:normal;
  }

  .text-holder{
    overflow:hidden;
    padding:28px 29px 12px;
    font-weight:bold;
    font-size:1.3em;
    line-height:1.23em;
    color:#666;

    .heading{
      padding:0 0 1px;
      font-weight:bold;
      display:block;
      color:#33526a;
    }
  }

  .text-frame .heading{padding:0 0 5px;}
  .text-holder p{margin:0 0 14px;}
  .text-frame p{margin:0 0 16px;}
}

/*! fancyBox v2.1.0 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  color: #444;
  text-shadow: none;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url('../images/fancybox_sprite.png');
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url('../images/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 8040;
  background: url(../images/bg-sprite.png) no-repeat -9px -24px;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url('../images/blank.gif'); /* helps IE */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

/* Overlay helper */

.fancybox-lock {
  overflow: hidden;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url('../images/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent; /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, .8);
}

.floatingHeader {
  position: fixed;
  top: 233px;
  visibility: hidden;
}

/*
 * Styles for Javascript Scroll Pane
 * Custom Scrollbars
 */

.jspContainer {
  overflow: hidden;
  position: relative;
}

.jspPane {
  position: absolute;
}

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background: red;

  .jspArrow {
    height: 16px;
  }

  .jspArrow:focus {
    outline: none;
  }
}

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: red;

  .jspCap {
    float: left;
  }

  .jspTrack,
  .jspDrag {
    float: left;
    height: 100%;
  }

  .jspArrow {
    width: 16px;
    float: left;
    height: 100%;
  }
}

.jspVerticalBar *,
.jspHorizontalBar * {
  margin: 0;
  padding: 0;
}

.jspCap {
  display: none;
}

.jspTrack {
  background: #fff;
  position: relative;
}

.jspDrag {
  background: #eaedf0;
  position: relative;
  top: 0;
  left: 0;
  @include vendor-prefix(border-radius, 3px);
}

.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;

  &.jspDisabled {
    cursor: default;
    background: #80808d;
  }
}

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

.cfe-radio,
.cfe-checkbox {
    display: inline-block;
    cursor: pointer;
    background: 0 0 no-repeat;
}

.cfe-radio,
.cfe-checkbox {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.cfe-radio {
    background: url('../images/radiobutton-sprite.png');
    width: 13px;
    height: 11px;
}

.cfe-radio.cfe-state-0 { background-position: 0 0; }
.cfe-radio.cfe-state-1 { background-position: 0 -11px; }
.cfe-radio.cfe-state-2 { background-position: 0 -22px; }
.cfe-radio.cfe-state-3 { background-position: 0 -33px; }

.cfe-checkbox {
    background: url('../images/checkbox-sprite.png');
    width: 13px;
    height: 11px;
    padding: 0;
}

.cfe-checkbox.cfe-state-0 { background-position: 0 0; }
.cfe-checkbox.cfe-state-1 { background-position: 0 -11px; }
.cfe-checkbox.cfe-state-2 { background-position: 0 -22px; }
.cfe-checkbox.cfe-state-3 { background-position: 0 -33px; }

/* Disabled style */
.cfe-disabled,
.cfe-readonly {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 5-7 */
    filter: alpha(opacity=50);

    /* CSS3 */
    opacity: 0.5;
}
