/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
ol,
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

input[type=text], input[type=password], input[type=file], input[type=submit], textarea{-webkit-appearance:none;}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {font-size: 100.01%;}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  margin:0;
  color:#666;
  font:1em/1 Helvetica, Arial, sans-serif;
  background:#fff;
  min-width:960px;
}

img {border-style:none;}

a {
  text-decoration:none;
  color:#33536a;

  &:hover {
    text-decoration:underline;
  }
}

input,
textarea,
select {
  font:100% Helvetica, Arial, sans-serif;
  vertical-align:middle;
  color:#b6b6b6;
}

form,
fieldset {
  margin:0;
  padding:0;
  border-style:none;
}

/* Beginning of actual styles! */

.content .column-holder:after,
.content .column-frame:after,
.search:after,
.c1:after,
.content .block:after,
#main:after,
.content .column-container:after,
#header:after {
  display:block;
  content:"";
  clear:both;
}

.wrapper {
  padding:0 0 130px;
  min-height:100%;
}

#header{
  position:relative;
  z-index:990;
  width:100%;
  padding:34px 0 0;
  box-shadow: 0 0 12px #ebebeb;
  -webkit-box-shadow: 0 0 12px #ebebeb;
  -moz-box-shadow: 0 0 12px #ebebeb;
  background:#f3f6f9 url(../images/separator2.gif) repeat-x 0 100%;

  .btn-custom{
    float:left;
    padding:3px 0 4px 36px;
    color:#dde3e9;
    font-size:13px;
    line-height:13px;
    font-weight:bold;
    text-shadow:0 1px 1px #fff;
    background:url(../images/ico5.png) no-repeat;
  }

  .btn-holder{
    position:relative;
    z-index:999;
    padding:0 0 20px;
    margin:0 0 -20px;
    vertical-align:top;
    display:inline-block;
  }

  .expanded .btn-custom,
  .btn-custom:hover {
    color:#33536a;
    text-decoration:none;
    background:url(../images/ico4.png) no-repeat;
  }
}

.header-frame{
  padding:30px 0;
  border:1px solid #d6d7d7;
  border-width:1px 1px 0;

  .column-frame{padding:17px 0 16px;}
}

.wrap{margin:0 100px 0;}

.logo-holder{
  overflow:hidden;
  padding:0 0 34px;
  margin:0 0 0 -5px;

  .top-links {
    margin:9px 0 0;
    font-size:15px;
    color:#33526a;
    float: right;
  }

  .logo{
    float:left;
    margin:0;
    width:157px;
    height:28px;
    text-indent:-9999px;
    overflow:hidden;
    background:url(../images/logo.png) no-repeat;

    a {
      display:block;
      height:100%;
    }
  }
}

.search{
  position:relative;
  margin:0;
  height:1%;
  padding:3px 4px 3px 14px;
  border-radius: 21px;  -moz-border-radius: 21px; -webkit-border-radius: 21px;
  border:1px solid #cccccd;
  background:#fff;

  input[type=text]{
    width:100%;
    margin:0;
    border:0;
    float:left;
    padding:5px 0;
    height:24px;
    line-height:24px;
    font-size:15px;
    color:#727272;
    border-radius: 0; -moz-border-radius: 0;  -webkit-border-radius: 0;
    box-shadow: 0 0 0;  -webkit-box-shadow: 0 0 0;  -moz-box-shadow: 0 0 0;
    font-weight:bold;
    outline:none;
  }

  input[type=submit]{
    float:right;
    margin:0 0 0 -99px;
    width:99px;
    padding:5px;
    border:0;
    color:#fff;
    line-height:24px;
    font-size:13px;
    font-weight:bold;
    height:34px;
    border-radius: 15px;  -moz-border-radius: 15px; -webkit-border-radius: 15px;
    background:#33536a;
  }

  input[type=submit]:hover{
    cursor:pointer;
    background:#1d2f3d;
  }

  input[type=submit]::-moz-focus-inner{ padding:0;  border:0;}
}

.search-holder{
  width:100%;
  float:left;
}

.search-frame {
  margin:0 109px 0 0;
}

fieldset.saved-search {
  position:relative;
  margin:0;
  height:1%;
  padding:0 4px 0 10px;
  border-radius: 21px;  -moz-border-radius: 21px; -webkit-border-radius: 21px;
  border:1px solid #cccccd;
  background:#fff;
  display:none;
  width: 150px;

  input[type=text]{
    width:93%;
    margin:0;
    border:0;
    float:left;
    height:24px;
    line-height:24px;
    font-size:15px;
    color:#727272;
    border-radius: 0; -moz-border-radius: 0;  -webkit-border-radius: 0;
    box-shadow: 0 0 0;  -webkit-box-shadow: 0 0 0;  -moz-box-shadow: 0 0 0;
    outline:none;
  }
}

* +html #header .btn-holder{display:inline;}

.drop {
  position:absolute;
  z-index:999;
  top:45px;
  left:0;
  width:102%;
  margin:0 -10px;
  box-shadow: 0 3px 5px #ccc; -webkit-box-shadow: 0 3px 5px #ccc; -moz-box-shadow: 0 3px 5px #ccc;
  border:1px solid #ccc;
  border-radius: 5px; -moz-border-radius: 5px;  -webkit-border-radius: 5px;
  background:#fff;

  .shadow {
    position:absolute;
    bottom:4px;
    z-index:999;
    left:0;
    width:100%;
    height:37px;
    background:url(../images/bg-shadow.png) repeat-x;
  }

  .decor {
    position:absolute;
    top:-13px;
    left:20px;
  }

  .scrollable-area {
    height:126px;
    padding:0 10px;
  }

  ul {
    padding:0 0 12px;
    font-size:1.5em;
    line-height:1.466em;
    color:#b6b6b6;
    font-weight:bold;

    .header {
      display:block;
      padding:0 0 3px;
      text-transform:uppercase;
      color:#33526a;
      font-size:13px;
      font-weight:bold;
    }

    a {
      color:#b6b6b6;
    }

    .active {
      text-decoration: underline;
    }
  }

  .drop-search {
    overflow:hidden;
    font-size:1.3em;
    border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0;  -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom:1px solid #e9e9ea;
    padding:19px 19px 18px 17px;
    background:#f5f6f7;

    fieldset{
      overflow:hidden;
      padding:8px 0 8px 10px;
      border-radius: 17px;  -moz-border-radius: 17px; -webkit-border-radius: 17px;
      border:1px solid #ccc;
      background:#fff;
    }

    input[type=text]{
      border:0;
      padding:0;
      color:#b6b6b6;
      font-weight:bold;
      width:85%;
      height:18px;
      line-height:18px;
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      box-shadow: 0 0 0;
      -webkit-box-shadow: 0 0 0;
      -moz-box-shadow: 0 0 0;
    }

    input[type=submit] {
      border:0;
      padding:0;
      width:15%;
      height:18px;
      margin:0;
      font-size:0;
      line-height:0;
      text-indent:-9999px;
      overflow:hidden;
      background:url(../images/ico-search.png) no-repeat 50% 50%;
    }

    input[type=submit]:hover {
      cursor:pointer;
    }

    input[type=text],
    input[type=submit] {
      float:left;
    }
  }
}

.btn-holder {
  .drop {
    width:215%;
    margin:0;
    left:-9999px;
    text-align:left;

    .decor{
      left:auto;
      right:6%;
    }
  }

  &:hover .drop {
    right:-17px;
    left:auto;
  }
}

.drop-holder{
  position:relative;
  overflow:hidden;
  padding:19px 13px 19px 10px;

  .btn-holder & {
    padding:19px 13px 4px 10px;
  }
}

.custom-holder, .saved-holder {
  position:relative;

  .decor {
    left:50%;
    margin:0 0 0 -11px;
  }

 .drop{
    width:182px;
    margin:0 0 0 -135px;
  }
}

.saved-holder {
 .drop{
    top: 30px;
    left: 80%;
    overflow:hidden;
    line-height:16px;
    background:#f5f6f7;
    border-radius: 5px 5px 5px 5px;
    padding:17px 19px;
    -moz-border-radius: 0 0 5px 5px;
  }

  li {
    font-size: 0.7em;
    font-weight: normal;
    color: #727272;
    list-style-type: square;

    a {
      border-bottom:1px dotted #666;

      &:hover {
        border: 0;
        text-decoration: none;
      }
    }
  }
}

.custom-holder {
  margin:118px 0 0;

  .drop {
    left:50%;

    .row-holder {
      padding:17px 19px 14px;
      border-top:1px solid #ccc;
      overflow:hidden;
      line-height:16px;
      background:#f5f6f7;

      &:first-child {
        border:0;
        border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0;  -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
      }

      .style01{
        border-radius: 0 0 5px 5px;
        padding:17px 19px;
        -moz-border-radius: 0 0 5px 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
      }
    }

    .row {
      overflow:hidden;
      padding:0 0 1px;
    }

    input[type=radio],
    input[type=checkbox] {
      float:left;
      margin:0 5px 0 0;
      padding:0;
      height:18px;
      width:18px;
    }

    label {
      display:block;
      overflow:hidden;
      font-size:13px;
      line-height:18px;
    }
  }

  .heading {
    display:block;
    font-size:13px;
    color:#33526a;
    font-weight:bold;
  }
}

* +html .custom-holder .drop label{padding:1px 0 0;}


.c1 {
  margin:0 135px 0 0;
}

#main{
  font-size:1.3em;
  line-height:1.23em;

  .c1 {
    position:relative;
    margin:0 135px -22px 0;
    padding:0 0 30px;
    border:1px solid #e5e5e5;
    border-width:0 1px 1px;
    background:#fff;
  }

  h2 {
    margin:0 0 3px;
    color:#373f4c;
    font:bold italic 1.461em/1.157em Helvetica, Arial, sans-serif;
  }

  .expanded {
    h2 {
      color:#000;
    }
  }

  .aside{
    color:#666;
    font-weight:bold;
    padding:32px 0 0;
  }
}

.paging{
  position:fixed;
  bottom:20px;
  right:20px;
  font-size:13px;
  line-height:23px;
  color:#373f4c;

  li{
    float:left;
    margin:0 0 0 7px;

    &:first-child {
      margin:0;
    }
  }

  .btn-prev,
  .btn-next{
    float:left;
    width:23px;
    height:23px;
    overflow:hidden;
    text-indent:-9999px;
    background:url(../images/bg-sprite.png) no-repeat -46px 0;
  }

  .btn-next {
    background-position:-46px -23px;
  }
}

.aside {
  position:relative;
  float: right;
  margin: 0 0 0 -116px;
  width: 116px;

  .heading{
    display:block;
    font-weight:bold;
    color:#33526a;
    padding:0 0 3px;

    span {
      font-weight:normal;
    }
  }

  .text-holder{
    overflow:hidden;
    padding:0 0 27px;
  }

  .text-frame {
    padding:0 3px;
    font-size:1.307em;
    color:#f66;

    .heading{
      display:block;
      padding:0 0 7px;
      color:#f66;
      font-weight:bold;
      line-height:18px;
    }

    p {
      margin:0 0 5px;
    }
  }

  strong{font-weight:bold;}

  p {
    margin:0 0 2px;

    a {
      color:#666;
      border-bottom:1px dotted #666;

      &:hover {
        border:0;
        text-decoration:none;
      }
    }
  }

  .btn-holder{
    overflow:hidden;
    padding:0 0 23px;
  }

  .btn {
    margin:0 0 3px;
    display:inline-block;
    padding:5px 10px;
    overflow:hidden;
    text-transform:uppercase;
    font-size:11px;
    line-height:13px;
    color:#fff;
    font-weight:bold;
    border-radius: 9px; -moz-border-radius: 9px;  -webkit-border-radius: 9px;
    background:#33536a;

    .ico-star {
      float:left;
      margin:1px 5px 0 0;
      width:9px;
      height:9px;
      overflow:hidden;
      text-indent:-9999px;
      background:url(../images/ico-star.png) no-repeat;
    }
  }

  .red {
    background:#f66;
  }
}

* +html .aside .btn{display:inline;}

.content {
  position:relative;
  width:100%;
  float:left;

  .column-frame {
    height:1%;
    background:url(../images/separator1.gif) repeat-y 79% 0;
  }

  .block {
    padding:29px 0 32px;
    border-top:1px solid #e5e5e5;

    &.style01{padding:34px 0 24px;}

    &.color1{
      padding:34px 0 32px;
      background:#fbfcfd;
    }

    &:first-child {
      border:0;
    }
  }

  .column-holder {
    font-weight:bold;
    background:url(../images/separator1.gif) repeat-y 65% 0;

    p {
      margin:0;

      a {
        &:hover {
          border:0;
          text-decoration:none;
        }
      }
    }

    .column {
      width:12%;
      padding:0 1%;
      float:left;
      text-align:center;

      &:first-child {
        width:60%;
        text-align:left;
        padding:0 2% 0 3%;
      }

      &.style01{width:18%;}
    }

    .column-area {
      display:table;
      width:100%;
      vertical-align:middle;

      .holder{
        display:table-cell;
        vertical-align:middle;
      }
    }

    .btn{
      display:inline-block;
      color:#fff;
      margin:4px 0;
      line-height:24px;
      font-size:13px;
      vertical-align:middle;
      font-weight:bold;
      text-align:center;
      padding:5px 12px;
      border-radius: 15px;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      background:#33536a;

      span{
        display:block;
        padding:0 15px 0 0;
        background:url(../images/bullet1.png) no-repeat 100% 50%;
      }
    }

    .btn-holder:hover .btn,
    .btn:hover {
      background:#1d2f3d;
      text-decoration:none;
    }
  }
}

* +html .content .column-holder .column-area .holder{
  position:absolute;
  top:50%;
  left:0;
  width:100%;
}
* +html .content .column-holder .column-area{
  display:block;
  position:relative;
}
* +html .content .column-holder .column-area .frame{
  position:relative;
  top:-50%;
}
* +html .content .column-holder .btn{display:inline;}

.block {
  &.expanded{
    color:#333;
    padding:34px 0 0 !important;

    .slide{display:block;}

    p {
      a {
        color:#333;
        border-color:#333;
      }
    }

    .details a{color:#666;}
  }

  .slide{
    display:none;
    overflow:hidden;
    width:100%;
  }

  p {
    a {
      line-height:24px;
      color:#666;
      border-bottom:1px dotted #666;
    }
  }

  .details {
    overflow:hidden;
    padding:0 0 17px;

    li {
      float:left;
      margin:0 12px 0 0;
    }

    a{color:#b6b6b6;}
  }

  .default-list {
    overflow:hidden;
    margin:0 0 0 -9px;

    li {
      overflow:hidden;
      vertical-align:top;
      padding:0 0 4px 9px;
      background:url(../images/bullet2.gif) no-repeat 0 6px;

      &.style01 {
        color:#f66;
        font-style:italic;
        background:url(../images/bullet4.png) no-repeat 0 6px;
      }
    }
  }
}

.main-heading{
  position:relative;
  overflow:hidden;
  margin:-1px;
  font-weight:bold;
  color:#c5ccd3;
  padding:17px 3% 16px;
  text-transform:uppercase;
  border:1px solid #d9d9d9;
  background:#e8ebef;

  .tags {
    float: left;

    li {
      padding:0 7px;
      background:url(../images/bullet5.png) no-repeat 0 5px;
    }
  }

  .alignleft{margin:0 10px 0 0;}
}

.icons li{padding:0 0 4px;}
.icons img{vertical-align:top;}

.opener-holder {
  position:relative;
  margin:30px 0 -45px;
  text-align:center;
  overflow:hidden;
  background:url(../images/bg-opener.gif) repeat-x 0 50%;

  .opener {
    display:block;
    vertical-align:top;
    width:24px;
    height:24px;
    margin:0 auto;
    text-indent:-9999px;
    overflow:hidden;
    background:url(../images/bg-sprite.png) no-repeat -9px 0;
  }

  .expanded & {
    margin:26px 0 -12px;

    .opener {
      background-position:-9px -24px;
    }
  }
}

.btn-more {
  display:inline-block;
  vertical-align:middle;
  width:53px;
  height:15px;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/btn-more.png) no-repeat;
}

* +html .btn-more{display:inline;}

.area-holder{
  overflow:hidden;
  padding:14px 0 0;
  clear:both;
}
.area-holder p{
  margin:0;
  text-align:right;
}
.area{
  margin:0 0 2px;
  width:478px;
  background:url(../images/bg-area.gif) repeat-y;
}
.area-b{
  padding:0 0 29px;
  background:url(../images/bg-area-b.gif) no-repeat 0 100%;
}
.area-holder .area-b .text-holder{
  text-align:left;
  line-height:27px;
  width:100%;
  padding:15px 0 0;
  overflow:hidden;
}
.area-holder .area-b .text-holder span{
  float:left;
  padding:0 0 5px;
  background:#fff;
}
.area .row{
  height:29px;
  padding:1px 0;
  position:relative;
  background:url(../images/bg-row.gif) repeat-x 0 20px;
}
.area .category{
  position:absolute;
  left:0;
  top:8px;
}
.area div.category{
  width:26px;
  height:26px;
  line-height:26px;
  color:#fff;
  font-weight:bold;
  text-transform:uppercase;
  font-size:10px;
  text-align:center;
  border-radius: 13px;  -moz-border-radius: 13px; -webkit-border-radius: 13px;
  background:#ffa366;
}
.area .line{
  position:absolute;
  height:4px;
  top:19px;
  width:300px;
  background:#ffa366;
}
.area .line.size1{width:85px;}
.area .line.pos1{right:0;}
.area .line.pos2{left:37px;}
.area .arrow{
  position:absolute;
  top:16px;
  width:8px;
  height:10px;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/bg-sprite.png) no-repeat 0 -20px;
}
.area .arrow.pos1{right:-8px;}
.area .color1 .arrow{background-position:0 0;}
.area .color2 .arrow{background-position:0 -10px;}
.area .color3 .arrow{background-position:0 -30px;}
.area .color1 div.category,
.area .color1 .line,
.area .color1 .ico{background:#93c2d9;}
.area .color2 div.category,
.area .color2 .line,
.area .color2 .ico{background:#99c575;}
.area .color3 div.category,
.area .color3 .line,
.area .color3 .ico{background:#adadad;}
.ico-minus,
.ico-plus{
  text-indent:-9999px;
  overflow:hidden;
  display:block;
  height:100%;
}
.ico-plus{background:url(../images/ico-plus.gif) no-repeat 50% 50%;}
.ico-minus{background:url(../images/ico-minus.gif) no-repeat 50% 50%;}
.area .ico{
  position:absolute;
  z-index:1;
  top:11px;
  width:20px;
  height:20px;
  font-size:16px;
  cursor:pointer;
  text-align:center;
  line-height:20px;
  color:#fff;
  border-radius: 10px;  -moz-border-radius: 10px; -webkit-border-radius: 10px;
  background:#ffa366;
}
.area .ico.small{
  width:16px;
  height:16px;
  top:13px;
  line-height:16px;
  border-radius: 8px; -moz-border-radius: 8px;  -webkit-border-radius: 8px;
}
.area .ico.pos1{left:165px;}
.area .ico.pos2{left:350px;}
.area .ico.pos3{left:405px;}
.area .ico.pos4{left:437px;}
.area .ico.pos5{left:37px;}
.area .ico.pos6{left:110px;}
.area .mark{
  position:absolute;
  width:10px;
  height:10px;
  top:16px;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/bg-sprite.png) no-repeat 0 -81px;
}
.area .color1 .mark{background-position:0 -61px;}
.area .color2 .mark{background-position:0 -71px;}
.area .color3 .mark{background-position:0 -91px;}
.area .mark.pos1{left:169px;}

#footer{
  margin:-130px 0 0;
  width:100%;
  height:35px;
  border-top:1px solid #ececec;
  overflow:hidden;
  padding:60px 0 35px;
  background:#f3f6f9;

  .logos{
    overflow:hidden;
    margin:0 0 0 -2px;

    li{
      float:left;
      margin:0 3px 0 0;
    }

    img{vertical-align:top;}
  }
}

* +html #footer{
  margin:0;
}

/* hide original element */
.jcf-hidden {
  display: block !important;
  position: absolute !important;
  left: -9999px !important; /* change to right: -9999px on RTL sites */
}

/* custom scrollbars styles */
.scrollable-area-wrapper {
  position: relative;
  z-index:999;
  overflow: hidden;
  width: 100% !important;
}
.scrollable-area-wrapper .hscrollbar,
.scrollable-area-wrapper .vscrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
}
.scrollable-area-wrapper .hscroll-left,
.scrollable-area-wrapper .vscroll-up,
.scrollable-area-wrapper .hscroll-right,
.scrollable-area-wrapper .vscroll-down {
  background: #eaedf0;
  width: 6px;
  height: 6px;
  float: left;
  display:none;
}
.scrollable-area-wrapper .hscroll-line,
.scrollable-area-wrapper .vscroll-line {
  width: 6px;
  float: left;
}
.scrollable-area-wrapper .hscroll-slider,
.scrollable-area-wrapper .vscroll-slider {
  background: #eaedf0;
  width: 6px;
  height: 6px;
  border-radius: 3px; -moz-border-radius: 3px;  -webkit-border-radius: 3px;
}
.scrollable-area-wrapper .hscrollbar {
  position: static;
  height: 6px;
  top: auto;
}
.scrollable-area-wrapper .hscroll-line {
  height: 6px;
  width: auto;
}

.custom-tooltip{
  position:relative;
  z-index:999;
  border-radius: 15px;  -moz-border-radius: 15px; -webkit-border-radius: 15px;
  background:#33536a;
  margin:0 -65px 5px 0 !important;
  padding:7px;
}
.custom-tooltip .ico-tooltip{
  float:left;
  width:16px;
  height:16px;
  margin:0 7px 0 0;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/ico-tooltip.png) no-repeat;
}
.custom-tooltip .tooltip-text{
  float:left;
  overflow:hidden;
  color:#fff;
  line-height:16px;
  font-size:12px;
  font-weight:bold;
  padding:0 9px 0 0 !important;
  background:url(../images/bullet3.png) no-repeat 100% 50%;
  white-space:nowrap;
}
.custom-tooltip .tooltip-decor{
  position:absolute;
  width:9px;
  height:5px;
  bottom:-5px;
  left:50px;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/img-decor4.png) no-repeat;
}

#fancybox-wrap{
  overflow:hidden;
  width:502px !important;
}
#fancybox-outer{
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
#fancybox-content div,
#fancybox-content{
  width:auto !important;
  height:auto !important;
  overflow:hidden;
}
#fancybox-content{border:0 !important;}
#fancybox-close{
  margin:2px 2px 0 0;
  width:24px;
  height:24px;
  background:url(../images/bg-sprite.png) no-repeat -9px -24px;
}
.popup-holder {
  height: 0;
  overflow: hidden;
  position: relative;
}

.lightbox{
  border:1px solid #ccc;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  width:500px !important;
  background:#f5f6f7;

  .heading-holder{
    padding:22px 30px 23px;
    font-size:1.7em;
    line-height:1.5em;
    color:#33526a;
    overflow:hidden;
    border-bottom:1px solid #ccc;
  }

  .heading{
    display:block;
    font-weight:bold;
  }

  .date{
    font-style:normal;
    font-weight:normal;
  }

  .text-holder{
    overflow:hidden;
    padding:28px 29px 12px;
    font-weight:bold;
    font-size:1.3em;
    line-height:1.23em;
    color:#666;

    .heading{
      padding:0 0 1px;
      font-weight:bold;
      display:block;
      color:#33526a;
    }
  }

  .text-frame .heading{padding:0 0 5px;}
  .text-holder p{margin:0 0 14px;}
  .text-frame p{margin:0 0 16px;}
}
