@for $i from 1 through 20 {
  .taxon-level#{$i}{
    margin-left: $i * 10px;
  }
}

.kingdom-taxon {
  .full-name {
    font-size: 150%;
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.phylum-taxon {
  .full-name {
    font-size: 130%;
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.class-taxon, .order-taxon {
  .full-name {
    font-size: 110%;
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.family-taxon {
  .full-name {
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
  }

}

.full-name {
  font-style: italic;
}

.accepted-true {
  font-weight: bold;
}

.listing {
  font-weight: bold;
  padding-left: 10px;
}

.family {
  text-transform: uppercase;
  padding-left: 5px;
}

body {
  line-height: 1;
  font-family: "Lucida Grande", sans-serif;
  font-size: 13px;
}
ol, ul {
  list-style: none;
}

/* App CSS */
body, html {
  color: #202020;
}

.ember-view {
  position: relative;
  overflow: visible;
}

$width: 800px;
$border: 1px solid #777;

body {
  $padding: 10px;
  $header-height: 20px;

  position: absolute;
  width: $width;
  left: 50%;
  margin-top: 38px;
  border: $border;
  margin-left: -400px;
  padding: ($header-height + $padding * 2) $padding $padding;

  input[type='text'] {
    background-color: rgb(240,240,240);
    width: $width - ($padding) - 2px;
    font-family: Helvetica, sans-serif;
    border: $border;
    width: 300px;

    &::-webkit-input-placeholder {
      color: #aaa;
    }
  }

  h1 {
    font-size: 15px;
    position: absolute;
    width: $width;
    height: $header-height;
    top: 0;
    left: 0;
    padding: ($padding / 2) $padding;
    border-bottom: $border;
  }

  .ember-checkbox {
    input[type="checkbox"] {
      margin-right: 7px;
    }
  }

  ul {
    margin: 10px 0 2px 0;

    li {
      padding: 5px;
    }

    li:nth-child(odd) {
      background-color: #F7F7F7;
    }
  }
}

h2 {
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
}
