<header id="about-header">
  <div class="wrap">
    <div class="content">
      <div class="c1">

        <div class="logo-holder">
          <h1 class="logo"><a href="/">Checklist of CITES Species</a></h1>
          <a href="#" {{action "doAbout"}} class="top-links">About</a>
        </div>

        <div class="header-frame">
          <h1>About CITES Checklist</h1>
        </div>

      </div>
    </div>

    <div class="aside">
    </div>
  </div>
</header>

<section id="about-main">
  <div class="wrap">
    <div class="content">
      <div class="c1">
        <div class="content-left">
          <h2>CITES and the Checklist</h2>
          <p>
            CITES (the <strong>Convention on International Trade in
            Endangered Species of Wild Fauna and Flora</strong>, also known as the
            Washington Convention) is a multilateral treaty, the aim of
            which is to ensure that international trade in specimens of
            wild animals and plants does not threaten the survival of
            the species in the wild, and it accords varying degrees of
            protection to more than 33,000 species of animals and
            plants. CITES works by subjecting international trade in
            specimens of listed species to certain controls. These
            require that all import, export, re-export and introduction
            from the sea of species covered by the Convention has to be
            authorized through a permitting system.
          </p>
          <p>
            Roughly 5,000 species of animals and 29,000 species of
            plants are protected by CITES against over-exploitation
            through international trade. Each protected species or
            population is included in one of three lists, called
            Appendices. The Appendix that lists a
            species or population reflects the extent of the threat to
            it and the controls that apply to the trade.
          </p>

          <h2>About the data</h2>
          <p>
            Praesent sit amet mi sit amet nisl pulvinar lacinia. Vestibulum euismod tristique neque, ac elementum nunc rutrum ac. Mauris iaculis gravida ipsum, in ultricies est pulvinar vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc consequat, diam id dapibus tincidunt, turpis lectus porttitor eros, ut sollicitudin erat tellus ac ligula. Praesent volutpat quam sit amet leo dignissim viverra. Vivamus at tellus sed purus bibendum adipiscing ac congue erat. Proin eu libero metus. Nullam id dolor dictum neque rutrum accumsan. Fusce cursus elit at odio fringilla vulputate. Proin mauris elit, cursus a consequat ut, suscipit nec enim. Proin consectetur varius risus et molestie. Nulla convallis orci sit amet velit lacinia pellentesque.
          </p>

          <h2>Our partners</h2>
          <p>
            Nulla blandit neque a odio fringilla non iaculis lacus congue. Vestibulum auctor turpis ac lectus auctor vulputate. Proin tempor dictum malesuada. Vivamus id nulla elit, in hendrerit felis. Cras massa justo, tincidunt at pharetra at, pharetra molestie enim. Fusce molestie ultricies quam vel dapibus. Suspendisse sollicitudin tortor vitae diam bibendum vestibulum. Pellentesque velit ligula, facilisis eget faucibus sit amet, pretium sed sem.
          </p>

          <h2>Contact</h2>
          <p>
            Nulla blandit neque a odio fringilla non iaculis lacus congue. Vestibulum auctor turpis ac lectus auctor vulputate. Proin tempor dictum malesuada. Vivamus id nulla elit, in hendrerit felis. Cras massa justo, tincidunt at pharetra at, pharetra molestie enim. Fusce molestie ultricies quam vel dapibus. Suspendisse sollicitudin tortor vitae diam bibendum vestibulum. Pellentesque velit ligula, facilisis eget faucibus sit amet, pretium sed sem.
          </p>
        </div>
        <div class="menu-right">
          <ul>
            <li><a>CITES and the Checklist</a></li>
            <li><a>About the data</a></li>
            <li><a>Our partners</a></li>
            <li><a>Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="aside">
    </div>
  </div>
</section>
