<div class="wrap">
  <div class="content">
    <div class="c1">
      <div class="content-left">
        <h2><a id="cites-checklist">CITES Checklist</a></h2>
        <p>
          The <span class="bold">Checklist of CITES Species</span> provides the official list of CITES-listed species (scientific names) and their associated scientific synonyms; common names in English, French and Spanish (where available) and the CITES Appendix in which they are currently listed. Information on historical Appendix listings, reservations and level of listing (e.g. if a whole family or order is listed) is also available through this website.
        </p>

        <h2><a id="web-display">Web display &#38; data downloads</a></h2>
        <p>
          Users can search for and view CITES listing information for CITES-listed species online. The scientific name, higher taxonomy, scientific synonyms, common names, distribution, current listing and history of listings (in the form of timelines) are all visible through the web display. Filters applied to the search and the Advanced options (see below) also affect the data displayed online.
        </p>
        <p>
          Two distinct outputs are available for download through this website:
        </p>
        <ol>
          <li><span class="bold italic">Index of CITES species:</span> an alphabetical list of all animal and plant taxa currently included in the CITES Appendices; and </li>
          <li><span class="bold italic">History of CITES listings:</span> a historical record of all CITES listings since 1975, including all reservations and annotations ever made.</li>
        </ol>
        <p>
          Both outputs are available in three different formats: PDF, csv (for use in Excel) and JSON format (for use by web developers).
        </p>
        <p>
          The full <span class="italic">Index of CITES species</span> and <span class="italic">History of CITES listings</span> are always available on the right hand side of the website under <b>&#8220;Featured&#8221; </b>. In the   case of the <span class="italic">Index of CITES species</span>, the full version of this can also be downloaded through the red &#8220;Download&#8221; button if no filters are selected.
          In addition, through the Checklist website, users also have the flexibility to produce tailored versions of the <span class="italic">Index of CITES species</span> outputs depending on their needs. Most notably, users can filter by name (including higher taxa), CITES Appendix and country/territory/region of occurrence (&#8220;All locations&#8221;). These filters will then filter the data displayed on the website, as well as the data downloaded through the red &#8220;Download&#8221; button, so that users can view and download smaller subsets of data.
        </p> 
        <p>
          Note: filters do not apply to the <span class="italic">History of CITES listings</span> outputs, which are only available in full through the &#8220;History of listing&#8221; link under <b>&#8220;Featured&#8221; </b>.
        </p>

        <h2><a id="advanced-options">Advanced options:</a></h2>
        <p>
          Under &#8220;Advanced options&#8221; users are able to tailor the web display and Checklist outputs as follows:
        </p>
        <ul>
          <li>
          <span class="bold">Common names:</span> By de-selecting &#8216;ENG&#8217;, &#8216;SPA&#8217;, and &#8216;FRE&#8217;, this will remove the English, Spanish and French common names on both the web display and within the Index downloads accessible through the red &#8220;Download&#8221; button;
          </li>
          <li>
          <span class="bold">Online view:</span> Selecting &#8220;Alphabetical&#8221; or &#8216;Taxonomic&#8217; affects the way the taxonomic entities are sorted on the web view only. The PDF and csv outputs will always be   sorted alphabetically. &#8220;Appendix&#8221; view, when selected, mirrors the display of the CITES Appendices, showing taxa at the level at which they are listed in taxonomic   order. For instance, &#8220;Felidae spp.&#8221; will be included because there is a family listing that applies, but species within Felidae that are included in the family level listing would not appear in the web display. NB: species included within a higher level listing would not be searchable if this format is selected. 
          </li>
          <li>
          <span class="bold">Display:</span> These options affect the information displayed for each taxon on the website.
          </li>
          
            <ul>
              <li> 
              <span class="bold">Synonyms:</span> When ticked, scientific synonyms (where available) will be shown in the web display (and within the PDF and csv outputs for the <span class="italic">Index of CITES species</span>). Unticking this will remove the synonyms from the web display and the tailored downloads.
              </li>
              <li>
              <span class="bold">Author&#8217;s name:</span> When ticked, the author citations for taxa will be shown in the web display (and within the PDF and csv outputs). Unticking this will remove the author citation from the web display and the tailored downloads.
              </li>
              <li>
              <span class="bold">History of listing:</span> When ticked, the history of listing (displayed online as a timeline) will expand for all taxa on the page. This does not impact the downloads.
              </li>
            </ul>
          
        </ul>
        <h2><a id="timelines">Timelines:</a></h2>
        <p>
          Timelines provide a visual display of the history of CITES listings on the web display. Symbols on the timelines indicate the inclusion of a taxon in an Appendix (&#8216;+&#8217;), the removal/deletion of a taxa from an Appendix (&#8216;-&#8217;), and a change to an annotation relevant to the Appendix listing (&#8216;A&#8217;). For timelines displaying reservation information, &#8216;R&#8217; indicates a reservation that was entered by a Party and &#8220;W&#8221; indicates that the Party has withdrawn the reservation. The exact date of the event can be viewed by hovering over the symbols; more details on the listings, reservations or any changes to annotations can be viewed by clicking on the symbols associated with the timeline event. The Appendix symbol representing the current listing (displayed to the right of the scientific name) is also clickable to view additional listing information or annotations that may apply.
        </p>

        <h2><a id="contact">Contact</a></h2>
        <div class="contacts">
        <div class="left">
          <span class="bold">CITES Secretariat</span><br>
          International Environment House<br>
          15, Chemin des Anémones<br>
          CH 1219 Châtelaine (Geneva)<br>
          Switzerland<br>
          Tel: + 41 (0) 22 917 81 39/40<br>
          Email: <a href="mailto:info@cites.org">info@cites.org</a><br>
          Website: <a href="http://www.cites.org">www.cites.org</a><br>
        </div>
        <div class="right">
          <span class="bold">UNEP World Conservation Monitoring Centre</span><br>
          219 Huntingdon Road<br>
          Cambridge<br>
          CB3 0DL<br>
          United Kingdom<br>
          Tel: +44 (0) 1223 277314<br>
          Email: <a href="mailto:species@unep-wcmc.org" target="_top">species@unep-wcmc.org</a><br>
          Website: <a href="http://www.unep-wcmc.org">www.unep-wcmc.org</a><br>
        </div>
        </div>
      </div>
      <div class="menu-right">
        <ul>
          <li><a href="#cites-checklist" class="scroll-to">CITES Checklist</a></li>
          <li><a href="#web-display" class="scroll-to">Web display &#38; data downloads</a></li>
          <li><a href="#advanced-options" class="scroll-to">Advanced options</a></li>
          <li><a href="#timelines" class="scroll-to">Timelines</a></li>
          <li><a href="#contact" class="scroll-to">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="aside">
  </div>
</div>
