<div class="wrap">
  <div class="content">
    <div class="c1">

      <div class="logo-holder">
        <h1 class="logo"><a href="/">Checklist of CITES Species</a></h1>
        <a href="#" {{action "doAbout"}} class="top-links">About</a>
      </div>

      <div class="header-frame">
        <h1>About CITES Checklist</h1>
      </div>

    </div>
  </div>

  <div class="aside">
  </div>
</div>
