<div class="appendix-holder">
  <div class="btn-wrapper">
    <a class="btn">
      {{view Checklist.AppendixBtnView
        contentBinding="controllers.filtersController.appendicesIds"}}
    </a>
  </div>
  <div class="drop">
    <div class="drop-holder">
      {{collection Checklist.AppendixFormCollectionView
        contentBinding="controllers.filtersController.appendicesContent"
        controllerBinding="controllers.filtersController"
        taxonConceptControllerBinding="controllers.taxonConceptController"
      }}
    </div>
    <img src="/images/decor-dropdown-dark.png" class="decor" width="24" height="13" >
  </div>
</div>
