<div class="wrapper">
  {{outlet}}
</div>
<footer id="footer">
  <div class="wrap">
    <ul class="logos">
      <li><a href="#"><img src="images/logo1.gif" alt="image description" width="32" height="35" ></a></li>
      <li><a href="#"><img src="images/logo2.gif" alt="image description" width="35" height="35" ></a></li>
      <li><a href="#"><img src="images/logo3.gif" alt="image description" width="50" height="35" ></a></li>
    </ul>
  </div>
</footer>
<div class="popup-holder">
  <div style="width:auto;height:auto;overflow: auto;position:relative;">
    <div style="width:auto;height:auto;overflow: auto;position:relative;">

    </div>
  </div>
</div>
