<div class="wrapper">
  {{outlet header}}
  {{outlet main}}
</div>
<footer id="footer">
  <div class="wrap">
    <ul class="logos">
      <li><img src="/images/cites-logo-footer@2x.png" height="43" width="75" /></li>
    </ul>

    <div class="powered-by">
      Powered By
      <img src="/images/unep-wcmc-logo@2x.png" height="43" width="84" />
    </div>
  </div>
</footer>
