<div class="wrapper">
  {{outlet header}}
  {{outlet main}}
</div>
<footer id="footer">
  <div class="wrap">
    <ul class="logos">
      <li>
        <a href="http://www.cites.org">
          <img src="/images/cites-logo-footer@2x.png" height="43" width="75" />
        </a>
      </li>
    </ul>

    <div class="powered-by">
      {{t powered.by}}
      <a href="http://www.unep-wcmc.org">
        <img src="https://s3.amazonaws.com/wcmc.logo/UN-Environment-WCMC+logo+2017+light+grey.svg" height="43" width="84" />
      </a>
    </div>
  </div>
</footer>
