<div class="search">
  <fieldset>
    <div class="search-holder">
      <div class="search-frame">
        {{view Checklist.SearchTextField
          valueBinding="controllers.filtersController.scientificName"
          id="scientific_name"
          title="search"
          placeholderTranslation="search.by_taxon.placeholder"
          autocomplete="off"
        }}
      </div>
    </div>
    <input type="submit" {{translateAttr value="search.by_taxon.button"}} {{action "submit" target="view"}} />
  </fieldset>
  <div class="drop" style="display: none;" id="autocomplete-dropdown">
    <img src="/images/decor-dropdown-light.png" class="decor" width="24" height="13" >
  </div>
</div>
