{{#if total_cnt}}
  <div class="text-frame">
    <strong class="heading">{{total_cnt}} <span>taxa</span></strong>
  </div>
  <div class="btn-holder">
    <a id="download" class="btn red" href="#downloads">Download</a>
    {{view Checklist.PdfDownloadView}}
  </div>
{{/if}}
