<ul class="tags">
<<<<<<< HEAD
  <strong class="alignleft">{{rank_name}}</strong>
  {{#each higherTaxa}}
=======
  <strong class="alignleft">{{rank_display_name}}</strong>
  {{#each higherTaxaBar}}
>>>>>>> parent of 85bf588... use the backend generated higher taxa bars
    <li>{{this}}</li>
  {{/each}}
</ul>
