<div class="id-materials">
  <h3>ID Manual entries</h3>
  <button>Download all ID Manual entries for [TAXON NAME]</button>
  <div>
    <h3>Associated CITES ID materials</h3>
    <div>
      <ul>
        <li>
          <a>[NAME OF DOCUMENT]</a>
          <span>Tooltip</span>
          <span>EN, FR, ES</span>
        </li>
        <li>
          <a>[NAME OF DOCUMENT]</a>
          <span>Tooltip</span>
          <span>EN, FR, ES</span>
        </li>
      </ul>
    </div>
  </div>
</div>