<div class="wrap">
  <div class="content">
    <div class="c1" id="loading">
      <img src="/images/loading.gif" />
    </div>
    {{#each controllers.taxonConceptController.content}}
      {{view Checklist.KingdomListView contentBinding="this"
        controllerBinding="controllers.filtersController"
      }}
    {{/each}}
  </div>

  <div class="aside">
    {{#each controllers.taxonConceptController.content}}
      {{view Ember.View
        templateName="download_view"
        contentBinding="this"}}
    {{/each}}
    {{view Checklist.SavedSearchView}}
  </div>
</div>
