<div class="wrap">
  <div class="content">
    <div class="c1" id="loading">
    </div>
    {{#each controllers.taxonConceptController.content}}
      {{view Checklist.KingdomListView contentBinding="this"
        controllerBinding="controllers.filtersController"
      }}
    {{/each}}
  </div>

  <div class="aside">
    {{#each controllers.taxonConceptController.content}}
      {{view Checklist.DownloadView
        contentBinding="this"}}
    {{/each}}
    {{view Checklist.SavedSearchView}}

    <div class="quick-links-holder">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="#">Full Checklist</a></li>
        <li><a href="#">Checklist History</a></li>
      </ul>
    </div>
  </div>
</div>
