Filter by country:
{{view Checklist.CountrySelect}}
<p>Selected: {{Checklist.SelectedCountryController.country.name}}</p>

<ul>
{{#each taxonConcepts}}
  <li>
    <p class="level{{unbound depth}}">
      {{scientific_name}}
    </p>
  </li>
{{/each}}
</ul>
