Filter by country:
{{view Checklist.CountrySelect}}
<p>Selected: {{Checklist.SelectedCountryController.country.iso_name}}</p>

<ul>
{{#each taxonTrees}}
  <li>
    {{view Checklist.TaxonTreeShowView taxonTreeBinding="this"}}
  </li>
{{/each}}
</ul>
