<div id="downloads" style="display: none;" class="lightbox downloads">
  <div class="heading-holder">
    <strong class="heading">Download Listing PDF</strong>
  </div>
  <div class="text-holder">
    <p>
      {{view Ember.Checkbox
        checkedBinding="view.checked"
        id="custom_pdf"
        class="styled"
      }}
      <label for="custom_pdf">Only download results for current search</label>
    </p>

    <a href="{{unbound view.downloadIndexPdf}}" id="download" class="btn red"><strong>CITES Species Index</strong></a>
    <a href="{{unbound view.downloadHistoryPdf}}" id="download" class="btn red"><strong>History of CITES Listings</strong></a>
  </div>
</div>
