<div class="quick-links-holder">
  <h3>Quick Links</h3>
  <ul>
    <li><a href="#" {{action "downloadIndexPdf" target="view" on="click"}}>Species index</a></li>
    <li><a href="#" {{action "downloadHistoryPdf" target="view" on="click"}}>History of listings</a></li>
  </ul>
</div>
