<ul>
  <li>
    <a id="history-download-btn" href="#history-downloads">Generating 3 reports</a>
  </li>
</ul>

<div style="display:none">
  <div id="history-downloads" class="lightbox downloads">
    <div class="heading-holder">
      <strong class="heading">Your Reports</strong>
    </div>
    <div class="text-holder">
      <h3>Your report is being generated.</h3>

      It can take some time, but you can close this window and
      continue working in other CITES Checklist reports.
    </div>
    <div class="list-holder">
      <div class="scroll-area">
        <ul>
          <li>
            <h4>Report 1</h4>
            <span class="info">Finished 2 min ago</span>
            <span class="button"><a href="#" class="btn red small">Download</a></span>
          </li>
          <li>
            <h4>Report 2</h4>
            <span class="info">Finished 2 min ago</span>
          </li>
          <li>
            <h4>Report 3</h4>
            <span class="info">Finished 2 min ago</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
