<a href="#" {{action "save" target="view"}} class="btn"><span class="ico-star"></span>SAVE THIS</a>
<fieldset class="saved-search">
  {{view Checklist.SavedSearchTextField filtersControllerBinding="controllers.filtersController"}}
</fieldset>

<div class="saved-holder">
  <p><strong><a href="#" class="btn-saved">saved searches</a></strong></p>
  <div class="drop">
      {{collection Checklist.SavedSearchCollectionView contentBinding="controllers.savedSearchController"}}
    <img src="images/img-decor3.png" alt="image description" class="decor" width="24" height="13" >
  </div>
</div>
