<input type="text" style="font-size:14px;width:inherit !important;" id="save_search_name" />
<button {{action "save" target="view"}} type="button">Save Search</button>

{{collection Checklist.SavedSearchCollectionView contentBinding="controllers.savedSearchController"}}
