<a href="#" {{action "save" target="view"}} class="btn"><span class="ico-star"></span>SAVE THIS</a>
<fieldset class="saved-search">
  {{view Checklist.SavedSearchTextField filtersControllerBinding="controllers.filtersController"}}
</fieldset>

<div class="text-holder">
  <p><strong><a href="#">3 saved searches</a></strong></p>
</div>
