.rank {
  padding: 1px;
  font-size: 10px;
}
.Kingdom, .Phylum, .Class, .Order {
  text-transform: uppercase;
}
.Family {
  font-style: italic;
}
.taxon {
  padding: 2px;
}
.designation {
  padding: 1px;
  font-size: 11px;
}
